:root {
  --color-main-white: white;
  --color-gold: #bdae82;
  --color-black: black;
  --title-text: "Merriweather", serif;
  --secondary-text: "Inter", sans-serif;
}

$bp-desktop: 1280px;
$bp-tablet: 768px;
$bp-mobile: 480px;
