.footer-section {
  background-color: var(--color-black);
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0 30px 0;

  @media screen and (min-width: $bp-tablet) {
    flex-direction: row;
    margin-inline: 20px;
  }

  &__data {
    display: flex;
    gap: 20px;
  }

  &__social-media {
    display: flex;
    gap: 20px;

    &--icon {
      max-width: 32px;
      max-height: 32px;
    }
  }
}
