.price-section {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-bottom: 100px;

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
    }
  }

  &__container--card {
    max-width: 450px;
    width: 100%;
    padding: 40px 0;
    border: 3px solid var(--color-gold);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    &:hover {
      transform: scale(1.05);
    }
  }
  &__container--card-title {
    font-family: var(--title-text);
    font-weight: 700;
    font-size: 28px;
    line-height: 2;
    color: var(--color-main-white);
  }

  &__container--card-value {
    font-family: var(--title-text);
    font-weight: 700;
    font-size: 24px;
    line-height: 2;
    color: var(--color-gold);
  }

  &__container--card-description {
    font-family: var(--secondary-text);
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
    text-align: center;
  }

  &__container--card-button {
    max-width: 220px;
    width: 100%;
    margin: 20px auto 0;
    padding: 10px;
    font-family: var(--secondary-text);
    font-weight: 400;
    font-size: 20px;
    line-height: 2;
    background-color: var(--color-gold);
    color: var(--color-black);
    border: 0;
  }
}
