.video-section {
  &__player {
    position: relative;
  }

  &__player--img {
    width: 100%;
    max-width: 1400px;
  }
  &__player--icon {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
