.button {
  padding: 10px;
  max-width: 220px;
  font-family: var(--secondary-text);
  font-weight: 400;
  font-size: 20px;
  line-height: 2;
  background-color: var(--color-gold);
  color: var(--color-black);
  border: 0;
}
