.price-card {
  max-width: 450px;
  width: 100%;
  padding: 40px 0;
  border: 3px solid var(--color-gold);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  &:hover {
    transform: scale(1.05);
  }

  &__title {
    font-family: var(--title-text);
    font-weight: 700;
    font-size: 28px;
    line-height: 2;
    color: var(--color-main-white);
  }

  &__value {
    font-family: var(--title-text);
    font-weight: 700;
    font-size: 24px;
    line-height: 2;
    color: var(--color-gold);
  }

  &__description {
    font-family: var(--secondary-text);
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
    text-align: center;
  }

  &__button {
    max-width: 220px;
    width: 100%;
    margin: 20px auto 0;
    padding: 10px;
    font-family: var(--secondary-text);
    font-weight: 400;
    font-size: 20px;
    line-height: 2;
    background-color: var(--color-gold);
    color: var(--color-black);
    border: 0;
  }
}
