.section-title {
  font-family: var(--title-text);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  color: var(--color-gold);
  text-align: center;
  position: relative;
  margin: 80px auto 50px;

  @media screen and (min-width: $bp-desktop) {
    font-size: 40px;
    line-height: 2;
    margin: 100px auto 60px;
  }

  &::before,
  &::after {
    content: "";
    display: inline-block;
    width: 80px;
    height: 2px;
    background-color: var(--color-gold);
    align-items: center;
    margin-inline: 20px;
    margin-bottom: 10px;

    @media screen and (min-width: $bp-desktop) {
      width: 250px;
    }
  }
}
